@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");

.body {
  font-family: "Inter", sans-serif;
  background-color: lightgray;
}

.success__message > h1 {
  width: 70%;
  height: 30%;
  font-size: 50px;
  text-align: center;
  border: 2px solid rgb(12, 12, 73);
  align-items: center;
  margin: 30px 300px;
  font-style: italic;
  padding-bottom: 10px;
  border-radius: 25px;
}

.btn {
  margin-left: 80%;
  margin-top: 5%;
  background-color: rgb(12, 12, 73);
  color: white;
  padding: 5px;
  width: 200px;
  font-size: 20px;
  border-radius: 5px;
}

@media screen and (max-width: 1280px) {
  .btn {
    margin-left: 80%;
    margin-top: 5%;
  }
  .success__message > h1 {
    width: 70%;
    height: 30%;
    margin-left: 200px;
  }
}

@media screen and (max-width: 1024px) {
  .btn {
    margin-left: 70%;
    margin-top: 5%;
  }
  .success__message > h1 {
    width: 80%;
    height: 30%;
    margin-left: 100px;
  }
}

@media (max-width: 768px) {
  .btn {
    width: 150px;
    margin-left: 68%;
    margin-top: 5%;
  }
  .success__message > h1 {
    width: 70%;
    height: 30%;
    margin-left: 115px;
  }
}

@media (max-width: 500px) {
  .btn {
    width: 100px;
    margin-left: 65%;
    margin-top: 5%;
  }
  .success__message > h1 {
    width: 70%;
    height: 30%;
    margin-left: 75px;
  }
}
