@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  width: 1920px;
  height: 1080px;
  border: 2px solid red;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
